.head_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centerOfHeader {
    width: 50%;


}

/* Container for the search bar */

.search-container {
    display: flex;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 25px;
    /* Creates the rounded look */
    overflow: hidden;
    /* Ensures inner elements follow the rounded border */
    transition: border-color 0.3s ease;
}

/* Style the input field */
.search-input {
    flex-grow: 1;
    /* Fills remaining space */
    border: none;
    padding: 10px 20px;
    outline: none;
    /* Removes the default blue outline on focus */
    font-size: 16px;
}

/* Style the search button */
.search-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Interaction Effects */
.search-container:focus-within {
    border-color: #2196F3;
    /* Highlights the container when typing */
}

.search-button:hover {
    background-color: #0b7dda;
    /* Darkens button on hover */
}


.head_container svg {
    width: 35px;
    height: 35px;
    margin-right: 30px;
}

.leftOfHeader {
    width: 20%;
    display: flex;
    align-items: center;
}

.leftOfHeader img {
    width: 20%;
}

.head_container a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 2rem;
    margin-left: 30px;
    font-weight: 800;
}